<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GestionUtilisateurs.Properties.Settings.dbConnect"
            connectionString="Server=lab001.2isa.org;Port=33001;Database=DB09;UID=root;PWD=9514lab001" />
    </connectionStrings>
</configuration>